<div th:replace="header"/>

<h1 class="display-1 text-primary">Tabella Album</h1>
<table align="center" class="table table-striped table-dark table-hover" width="50%" cellpadding="5">
    <thead class="bg-primary">
    <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Year</th>
        <th>GroupID</th>
        <th>View Songs</th>
        <th>Delete</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="album: ${albumList}">
        <td th:text="${album.getAlbumId()}"/>
        <td th:text="${album.getTitle()}"/>
        <td th:text="${album.getYear()}"/>
        <td th:text="${album.getGroupId()}"/>
        <td>
            <a th:href="'/music?albumid='+${album.getAlbumId()}">Vedi</a>
        </td>
        <td><form class="form-inline my-2 my-lg-0" action="delalbum" method="get">
            <button class="btn btn-outline-danger my-2 my-sm-0" type="submit">
                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-x-octagon" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M4.54.146A.5.5 0 0 1 4.893 0h6.214a.5.5 0 0 1 .353.146l4.394 4.394a.5.5 0 0 1 .146.353v6.214a.5.5 0 0 1-.146.353l-4.394 4.394a.5.5 0 0 1-.353.146H4.893a.5.5 0 0 1-.353-.146L.146 11.46A.5.5 0 0 1 0 11.107V4.893a.5.5 0 0 1 .146-.353L4.54.146zM5.1 1L1 5.1v5.8L5.1 15h5.8l4.1-4.1V5.1L10.9 1H5.1z"/>
                    <path fill-rule="evenodd" d="M11.854 4.146a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708-.708l7-7a.5.5 0 0 1 .708 0z"/>
                    <path fill-rule="evenodd" d="M4.146 4.146a.5.5 0 0 0 0 .708l7 7a.5.5 0 0 0 .708-.708l-7-7a.5.5 0 0 0-.708 0z"/>
                </svg>
            </button>
            <input type="hidden" name="albumToDel" th:value="${album.getAlbumId()}">
        </form></td>
    </tr>
    </tbody>
</table>

<div th:replace="pagination"/>

<div th:replace="footer"/>