<div th:replace="header"/>

<h1 class="display-1 text-primary">Tabella Artist</h1>
<table align="center" class="table table-striped table-dark table-hover" width="50%" cellpadding="5">
    <thead class="bg-primary">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>GroupID</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="artist: ${artistList}">
        <td th:text="${artist.getArtistId()}"/>
        <td th:text="${artist.getName()}"/>
        <td th:text="${artist.getGroupId()}"/>
        <td>
            <form class="form-inline my-2 my-lg-0" action="music" method="get">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-right" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M10.146 4.646a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L12.793 8l-2.647-2.646a.5.5 0 0 1 0-.708z"/>
                        <path fill-rule="evenodd" d="M2 8a.5.5 0 0 1 .5-.5H13a.5.5 0 0 1 0 1H2.5A.5.5 0 0 1 2 8z"/>
                    </svg>
                </button>
                <input type="hidden" name="artistid" th:value="${artist.getArtistId()}">
            </form>
        </td>
        <td>
            <form class="form-inline my-2 my-lg-0" action="delartist" method="get">
                <button class="btn btn-outline-danger my-2 my-sm-0" type="submit">
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-x-octagon" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M4.54.146A.5.5 0 0 1 4.893 0h6.214a.5.5 0 0 1 .353.146l4.394 4.394a.5.5 0 0 1 .146.353v6.214a.5.5 0 0 1-.146.353l-4.394 4.394a.5.5 0 0 1-.353.146H4.893a.5.5 0 0 1-.353-.146L.146 11.46A.5.5 0 0 1 0 11.107V4.893a.5.5 0 0 1 .146-.353L4.54.146zM5.1 1L1 5.1v5.8L5.1 15h5.8l4.1-4.1V5.1L10.9 1H5.1z"/>
                        <path fill-rule="evenodd" d="M11.854 4.146a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708-.708l7-7a.5.5 0 0 1 .708 0z"/>
                        <path fill-rule="evenodd" d="M4.146 4.146a.5.5 0 0 0 0 .708l7 7a.5.5 0 0 0 .708-.708l-7-7a.5.5 0 0 0-.708 0z"/>
                    </svg>
                </button>
                <input type="hidden" name="artistToDel" th:value="${artist.getArtistId()}">
            </form>
        </td>
    </tr>
    </tbody>
</table>

<div th:replace="pagination"/>

<div th:replace="footer"/>