<div th:replace="header"/>

<h1 class="display-1 text-warning">Tabella JoinAll</h1>
<button class="btn btn-primary mb-2"
        onclick="document.getElementById('showDetails').hidden = !document.getElementById('showDetails').hidden;">
    Mostra/Nascondi dettagli
</button>
<div class="text-light" id="showDetails" hidden>
<p>
    La query completa &egrave;:
</p>
<pre class="text-light" id="showDetails2">
    <code>
    SELECT M.musicid, M.title AS musictitle, groupname, tmptable.numartisti, Al.title AS albumtitle, M.year, Ge.name AS genrename, COUNT(L.link) AS numlink
    FROM
    music AS M LEFT JOIN album AS Al ON (M.albumid = Al.albumid)
    LEFT JOIN
    (
    &emsp; SELECT COUNT(Ar.artistid) AS numartisti, Gr.name AS groupname, Gr.groupid AS tmpgrid
    &emsp; FROM grouptable AS Gr LEFT JOIN artist AS Ar ON (Ar.groupid = Gr.groupid
    &emsp; GROUP BY tmpgrid, groupname
    ) as tmptable ON (M.authorid = tmpgrid
    INNER JOIN genre AS Ge ON (M.genreid = Ge.genreid
    LEFT JOIN link AS L on (M.musicid = L.musicid)
    GROUP BY M.musicid, tmptable.groupname, Al.title, Ge.name, tmptable.numartisti;
    </code>
</pre>
<p id="showDetails3">
Pi&ugrave; semplicemente:
Music &#10197; Album &#10197; (Group &#10197; Artist) &#10781; Genre &#10197; Link
</p>
</div>
<table align="center" class="table table-striped table-dark table-hover" width="50%" cellpadding="5">
    <thead class="bg-warning text-dark">
    <tr>
        <th>MusicID</th>
        <th>MusicTitle</th>
        <th>GroupName</th>
        <th>NumArtists</th>
        <th>AlbumTitle</th>
        <th>Year</th>
        <th>GenreName</th>
        <th>NumLinks</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="music: ${joinAllList}">
        <td th:text="${music.getMusicId()}"/>
        <td th:text="${music.getMusicTitle()}"/>
        <td th:text="${music.getGroupName()}"/>
        <td th:text="${music.getNumArtists()}"/>
        <td th:text="${music.getAlbumTitle()}"/>
        <td th:text="${music.getYear()}"/>
        <td th:text="${music.getGenreName()}"/>
        <td>
            <a th:if="${music.getNumLinks() > 0}" th:href="'/viewlinks?musicid='+${music.getMusicId()}" th:text="${music.getNumLinks()}"></a>
            <span th:if="${music.getNumLinks() <= 0}" th:text="${music.getNumLinks()}"/>
        </td>
    </tr>
    </tbody>
</table>

<div th:replace="pagination"/>

<div th:replace="footer"/>
