<div th:replace="header"/>

<h1 class="display-3 text-primary" th:text="'Link per la canzone '+${music.getTitle()}"></h1>
<table align="center" class="table table-striped table-dark table-hover" width="50%" cellpadding="5">
    <thead class="bg-primary">
    <tr>
        <th>Link</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="link: ${linkList}">
        <td>
            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-caret-right-square-fill text-success" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2zm5.5 10a.5.5 0 0 0 .832.374l4.5-4a.5.5 0 0 0 0-.748l-4.5-4A.5.5 0 0 0 5.5 4v8z"/>
            </svg>
            <a th:href="${link.getLink()}" target="_blank" rel="noopener noreferrer" th:text="${link.getLink()}"/>
        </td>
    </tr>
    </tbody>
</table>

<button onclick="goBack()" class="btn btn-primary mb-2 mt-auto" style="position: absolute; bottom: 50%; left: 48%;">
    Indietro
</button>

<div th:replace="footer"/>
