<div th:if="${page >= 0}">
    <p class="lead text-light" th:text="'Pagina ' + ${page}+'.'"/>

    <form class="form-inline" method="get">
        <button type="submit" class="btn btn-primary mb-2" name="page"
                th:classappend="(${page == 0}) ? ('disabled')"
                th:disabled="(${page == 0}) ? ('disabled')"
                th:style="(${page == 0}) ? ('cursor: not-allowed;')"
                th:value="${page-1}">Pagina precedente</button>
        <button type="submit" class="btn btn-primary mb-2" name="page"
                th:value="${page+1}">Pagina successiva</button>
    </form>
</div>